[Unit]
Description=Clear Creek Scientific Data Logger
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/ccs/DataLogger
ExecStart=python /opt/ccs/DataLogger/data_logger.py -c /opt/ccs/DataLogger/settings.cfg
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target

