[Unit]
Description=Clear Creek Scientific Weather Data Logger
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/ccs/WeatherDataLogger
ExecStart=python /opt/ccs/WeatherDataLogger/data_logger.py -d /opt/ccs/WeatherDataLogger/data
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target

